.hero {
    min-height: 100vh;
    padding: 5rem 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    text-align: center;
}

.hero__title {
    font-family: var(--ff-heading);
    font-weight: var(--fw-700);
    font-size: 36px;

    max-width: 500px;
}

.hero__desc {
    margin-bottom: .5rem;
    max-width: 400px;

    color: var(--text-secondary);
}

.features {
    min-height: 100vh;
    padding: 1rem;
    padding-top: 5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.features__item {
    flex: 1 1 250px;
}

.tryai,
.testimonials {
    min-height: 100vh;
    padding: 1rem;
    padding-top: 5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.tryai__title,
.testimonials__title {
    text-align: center;
    font-family: var(--ff-heading);
    font-weight: var(--fw-700);
    font-size: 30px;
}
  
.tryai__box {
    width: 100%;
    padding: 2rem;
    background-color: var(--glass-bg);

    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    border-radius: 1rem;
    backdrop-filter: blur(10px);
    border: 1px solid var(--glass-border);
}
  
.tryai__form,
.tryai__output {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
  
.tryai__input,
.tryai__response {
    resize: none;
    min-height: 100px;

    padding: 1rem;
    color: var(--text-primary);
    background: var(--input-bg);
    
    border: 1px solid var(--glass-border);
    border-radius: 8px;

    font-family: var(--ff-accent);
}

.tryai__input:focus {
    outline: 0;
}

.testimonials__list {
    columns: 1;
    column-gap: 1rem;
}

.list__item {
    display: inline-block;
    width: 100%;
    margin-bottom: 1rem;
}

@media (min-width: 500px) {
    .testimonials__list {
        columns: 2;
    }
}

@media (min-width: 750px) {
    .hero {
        padding: 6rem 4rem 2rem;
    }

    .hero__title {
        font-size: 60px;
        line-height: 1.4;

        max-width: 700px;
    }
    
    .hero__desc {
        margin-bottom: 1rem;
        max-width: 700px;
    }

    .features {
        padding: 3rem 4rem 0;
    }

    .features__list {
        gap: 2rem;
    }
    
    .features__item {
        flex: 1 1 300px;
    }

    .tryai,
    .testimonials  {
        padding: 3rem 4rem 0;
        gap: 2rem;
    }
    
    .tryai__box {
        max-width: 900px;
        padding: 2rem;

        flex-direction: row;
        gap: 2rem;
    }
      
    .tryai__form,
    .tryai__output {
        width: 50%;
    }
}

@media (min-width: 950px) {
    .testimonials__list {
        columns: 3;
        column-gap: 1.5rem;
    }
}